.dropdown-menu .dropdown-item {
    background-color: transparent;
    color: #000000;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
    background-color: #6C757D;
    color: white;
}

.contas {
   color: #007bff !important;
}

.contas.active {
    color: #007bff !important;
    border-color: #007bff !important;
}

.despesas {
    color: #dc3545 !important;
}

.despesas.active {
    color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.receitas {
    color: #28a745 !important;
}

.receitas.active {
    color: #28a745 !important;
    border-color: #28a745 !important;
}

.nav-link {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
}

.nav-link.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (min-width: 576px) {
    .custom-modal-position {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0 auto;
    }
}

@media (max-width: 575px) {
    .custom-modal-position {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
        height: auto;
        max-height: 50%;
    }
}