:root {
    --primary-color: #FA5007;
    --secondary-color: #6C757D;

    --text-color: #192034;
}

.auth-bg {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--text-color);
    overflow: hidden;
}

.breadcrumb-item {
    color: var(--secondary-color);
}

.breadcrumb-item a {
    color: var(--secondary-color);
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: var(--primary-color);
    text-decoration: none;
}