:root {
    --primary-color: #FA5007;
    --secondary-color: #6C757D;

    --text-color: #192034;
}

.auth-bg {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--text-color);
    overflow: hidden;
}

.breadcrumb-item {
    color: var(--secondary-color);
}

.breadcrumb-item a {
    color: var(--secondary-color);
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.table-head-bg thead {
    border: 1px solid #D0D7E8 !important; 
}

.table-head-bg thead th, .table-striped-bg tbody tr:nth-of-type(odd) {
    background: #D0D7E8 !important;
    color: #000000 !important;
    border: 0px !important; }