{% extends 'users_base.html' %}

{% load static %}

{% block title %}
Notificações - Poupe.AI
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/notifications.css' %}">
{% endblock %}

{% block page_title %}
Notificações
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-header">
                <div class="card-title">Notificações</div>
            </div>
            <ul class="list-group list-group-flush" id="notifications">
                <!-- Itens de notificação gerados dinamicamente -->
            </ul>
        </div>
    </div>

    <!-- Coluna Direita: Detalhes da Notificação -->
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header">
                <div class="card-title">Detalhes da Notificação</div>
            </div>
            <div class="card-body justify-content-center align-items-center" id="notification-details">
                <p class="empty-details">Selecione uma notificação para visualizar os detalhes.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/notificatons.js' %}"></script>
{% endblock %}