{% extends "users_base.html" %}

{% load static %}

{% block title %}Perfil - Poupe.AI{% endblock title %}

{% block page_title %}Perfil{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Configurações da Conta</div>
            </div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <img src="{% static 'imgs/profile.jpg' %}" alt="Foto de Perfil"
                        class="rounded-circle img-thumbnail mb-3" width="150" height="150">
                    <div>
                        <button class="btn btn-secondary btn-sm me-2">Remover Foto</button>
                        <button class="btn btn-primary btn-sm">Alterar Foto</button>
                    </div>
                </div>

                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <input type="text" id="name" class="form-control" placeholder="Digite seu nome">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-control" placeholder="Digite seu email">
                    </div>
                    <div class="mb-3">
                        <label for="dob" class="form-label">Data de Nascimento</label>
                        <input type="date" id="dob" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gênero</label>
                        <select id="gender" class="form-select form-control">
                            <option value="" selected disabled>Selecione seu gênero</option>
                            <option value="male">Masculino</option>
                            <option value="female">Feminino</option>
                            <option value="other">Outro</option>
                        </select>
                    </div>
                    <button type="submit" class="float-end btn btn-primary">Salvar Alterações</button>
                </form>
            </div>

            <div class="card-footer d-flex">
                <a href="{% url 'account-deletion' %}" class="text-secondary text-decoration-none small">Solicitar Exclusão da Conta</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}