{% extends 'poupeai/poupeai_base.html' %}

{% load static %}

{% block title %}Cartões de Crédito - Poupe.AI{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/credit-cards.css' %}">
{% endblock %}

{% block page_title %}Cartões de Crédito{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="card-title">Cartões de Crédito</div>
                <div class="d-flex gap-3">
                    <button class="btn btn-icon btn-round btn-primary" data-bs-toggle="modal"
                        data-bs-target="#addCreditCardModal">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body px-0 px-md-3">
                <div class="grid-container">
                    {% for card in credit_cards %}
                    <div id="credit-card-{{ card.id }}">
                        <div class="align-items-center border p-3 rounded shadow-sm">
                            <div class="d-flex justify-content-between align-items-center py-1">
                                <div>
                                    <p class="mb-0 fw-bold fs-4 fs-md-3 text-truncate">{{ card.name }}</p>
                                </div>
                                <div class="d-flex">
                                    <div class="d-flex align-items-center">
                                        <button class="btn custom-btn addExpenseBtn" type="button" id="addExpenseBtn-{{card.id}}"
                                        data-bs-toggle="modal" data-bs-target="#createModal"
                                            data-card-id="{{ card.id }}">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="dropdown d-flex align-items-center ms-3">
                                        <button class="btn custom-btn" type="button" id="dropdownMenu{{ card.id }}"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end"
                                            aria-labelledby="dropdownMenu{{ card.id }}">
                                            <li>
                                                <button class="dropdown-item fs-6" id="edit-credit-card-{{ card.id }}" data-url="{% url 'credit-card-update' card.id %}">Editar</button>
                                            </li>
                                            <li>
                                                <button class="dropdown-item fs-6"
                                                    id="delete-credit-card-{{ card.id }}" data-item-name="{{ card.name }}"
                                                    data-url="{% url 'credit-card-delete' card.id %}">Excluir</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center py-1">
                                <div class="text-start flex-grow-1" data-limit="{{ card.limit }}">
                                    <p class="mb-0 fw-bold fs-6 fs-md-5 text-truncate">Limite</p>
                                    <p class="mb-0 text-truncate">R$ {{ card.limit|floatformat:2 }}</p>
                                </div>
                                <div class="text-center flex-grow-1" data-outstanding="{{ card.outstanding }}">
                                    <p class="mb-0 fw-bold fs-6 fs-md-5 text-truncate">Em Aberto</p>
                                    <p class="mb-0 text-truncate">R$ {{ card.outstanding|floatformat:2 }}</p>
                                </div>
                                <div class="text-end flex-grow-1">
                                    <p class="mb-0 fw-bold fs-6 fs-md-5 text-truncate">Disponível</p>
                                    <p class="mb-0 text-truncate">R$ {{ card.available|floatformat:2 }}</p>
                                </div>
                            </div>

                            <div class="my-3">
                                <div class="progress" style="height: 10px;">
                                    <div class="progress-bar" role="progressbar" id="progress-bar" style="width: 0%;"
                                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                        data-limit="{{ card.limit }}" data-outstanding="{{ card.outstanding }}">
                                    </div>
                                </div>
                            </div>

                            {% for invoice in card.filtered_invoices %}
                            <div class="d-flex justify-content-between dashed-border py-2">
                                <div class="text-center">
                                    <p class="mb-1 fw-bold fs-6 fs-md-5 text-truncate">Fechamento</p>
                                    <p class="mb-0">{{ card.closing_day }}</p>
                                </div>
                                <div class="text-center">
                                    <p class="mb-1 fw-bold fs-6 fs-md-5 text-truncate">Vencimento</p>
                                    <p class="mb-0">{{ card.due_day }}</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between py-2">
                                <div class="text-center">
                                    <p class="mb-1 fw-bold">Fatura</p>
                                </div>
                                <div class="text-center">
                                    <p class="mb-1 fw-bold">R$ {{ invoice.total_due|floatformat:2 }}</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center py-1">
                                <div>
                                    <span
                                        class="badge rounded-pill text-bg-{% if invoice.status == 'open' %}success{% else %}danger{% endif %} border-0">{% if invoice.status == 'open' %}Aberta{% else %}Fechada{% endif %}</span>
                                </div>
                                <div>
                                    <a href="#"
                                        class="text-dark d-inline-flex align-items-center disabled-link link-active p-1"
                                        id="#registerPaymentModal-{{ invoice.id }}"
                                        data-bs-toggle="modal"
                                        data-url="{% url 'credit-card-payment' invoice.id %}"
                                        aria-disabled="true"
                                        data-bs-target="#registerPaymentModal">
                                        <i class="fas fa-check-circle me-2"></i> Registrar Pagamento
                                    </a>
                                </div>
                            </div>
                            {% empty %}
                            <div class="d-flex justify-content-between dashed-border py-2">
                                <div class="text-center">
                                    <p class="mb-1 fw-bold fs-6 fs-md-5 text-truncate">Fechamento</p>
                                    <p class="mb-0">{{ card.closing_day }}</p>
                                </div>
                                <div class="text-center">
                                    <p class="mb-1 fw-bold fs-6 fs-md-5 text-truncate">Vencimento</p>
                                    <p class="mb-0">{{ card.due_day }}</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between py-2">
                                <div class="text-center">
                                    <p class="mb-1 fw-bold">Fatura</p>
                                </div>
                                <div class="text-center">
                                    <p class="mb-1 fw-bold">R$ {{ 0|floatformat:2 }}</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center py-1">
                                <div>
                                    <span
                                        class="badge rounded-pill text-bg-success border-0">Aberta</span>
                                </div>
                                <div>
                                    <a href="#"
                                        class="text-dark d-inline-flex align-items-center disabled-link link-active p-1"
                                        data-bs-toggle="modal" aria-disabled="true"
                                        data-bs-target="#registerPaymentModal">
                                        <i class="fas fa-check-circle me-2"></i> Registrar Pagamento
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-12">
                        <div class="d-flex justify-content-center align-items-center p-3">Nenhuma Cartão de Crédito
                            Encontrado</div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="card-footer text-center">
                <p class="mb-0">Total de Cartões: <strong>{{ credit_cards|length }}</strong></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/credit-cards.js' %}"></script>
<script src="{% static 'js/plugin/sweetalert/sweetalert.min.js' %}"></script>
{% endblock %}

{% block end_body %}
<!-- Modal de Registrar Pagamento -->
<div class="modal fade" id="registerPaymentModal" tabindex="-1" aria-labelledby="registerPaymentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerPaymentModalLabel">Registrar Pagamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="registerPaymentForm" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_amount" class="form-label">Quanto você quer pagar?</label>
                        <input type="number" class="form-control" id="id_amount" name="amount" placeholder="0,00"
                            step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_payment_at" class="form-label">Data da Efetivação</label>
                        <input type="date" class="form-control" id="id_payment_at" name="payment_at" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_account" class="form-label">Conta</label>
                        <select class="form-select" id="id_account" name="account" required>
                            {% for account in accounts %}
                            <option value="{{ account.id }}">{{ account.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="id_attachment" class="form-label">Anexar Documento</label>
                        <input type="file" class="form-control" id="id_attachment" name="attachment">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="registerPaymentSave">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Nova Depesa -->
{% include 'poupeai/modals/create_transaction.html' %}

<!-- Modal Adicionar Cartão de Crédito -->
<div class="modal fade" id="addCreditCardModal" tabindex="-1" aria-labelledby="addCreditCardModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCreditCardModalLabel">Adicionar Cartão de Crédito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addCreditCardForm" action="{% url 'credit-card-create' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="inputName" class="form-label">Nome</label>
                                <input name="name" type="text" class="form-control" id="inputName" 
                                    placeholder="Ex: Banco do Brasil" required>
                            </div>
                            <div class="mb-3">
                                <label for="inputLimit" class="form-label">Limite</label>
                                <input name="limit" type="number" class="form-control" id="inputLimit" 
                                    placeholder="0,00" step="0.01" required>
                            </div>
                            <div class="mb-3">
                                <label for="inputAditionalInfo" class="form-label">Dados Adicionais</label>
                                <textarea name="additional_info" class="form-control" id="inputAditionalInfo"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="inputBrand" class="form-label">Bandeira</label>
                                <select name="brand" class="form-select" id="inputBrand" required>
                                    <option value="">Selecione uma bandeira</option>
                                    <option value="VISA">Visa</option>
                                    <option value="MASTERCARD">Mastercard</option>
                                    <option value="AMEX">American Express</option>
                                    <option value="ELO">Elo</option>
                                    <option value="HIPERCARD">Hipercard</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="inputClosingDay" class="form-label">Dia de Fechamento</label>
                                <input type="number" name="closing_day" class="form-control" id="inputClosingDay" placeholder="28" min="1" max="31" required>
                            </div>
                            <div class="mb-3">
                                <label for="inputDueDay" class="form-label">Dia de Vencimento</label>
                                <input type="number" name="due_day" class="form-control" id="inputDueDay" placeholder="7" min="1" max="31" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar Cartão de Crédito</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Editar Cartão de Crédito -->
<div class="modal fade" id="editCreditCardModal" tabindex="-1" aria-labelledby="editCreditCardModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCreditCardModalLabel">Editar Cartão de Crédito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editCreditCardForm" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="inputNameEdit" class="form-label">Nome</label>
                                <input name="name" type="text" class="form-control" id="inputNameEdit" placeholder="Ex: Banco do Brasil" required>
                            </div>
                            <div class="mb-3">
                                <label for="inputLimitEdit" class="form-label">Limite</label>
                                <input name="limit" type="number" class="form-control" id="inputLimitEdit" placeholder="0,00" step="0.01" required>
                            </div>
                            <div class="mb-3">
                                <label for="inputAditionalInfoEdit" class="form-label">Dados Adicionais</label>
                                <textarea name="additional_info" class="form-control" id="inputAditionalInfoEdit"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="inputBrandEdit" class="form-label">Bandeira</label>
                                <select name="brand" class="form-select" id="inputBrandEdit" required>
                                    <option value="">Selecione uma bandeira</option>
                                    <option value="VISA">Visa</option>
                                    <option value="MASTERCARD">Mastercard</option>
                                    <option value="AMEX">American Express</option>
                                    <option value="ELO">Elo</option>
                                    <option value="HIPERCARD">Hipercard</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="inputClosingDayEdit" class="form-label">Dia de Fechamento</label>
                                <input type="number" name="closing_day" class="form-control" id="inputClosingDayEdit" min="1" max="31" required>
                            </div>
                            <div class="mb-3">
                                <label for="inputDueDayEdit" class="form-label">Dia de Vencimento</label>
                                <input type="number" name="due_day" class="form-control" id="inputDueDayEdit" min="1" max="31" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="saveCreditCard">Salvar Alterações</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}