{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poupe.AI</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <!-- Favicon -->
    <link
      rel="icon"
      href="{% static 'favicon/favicon-64.ico' %}"
      type="image/x-icon"
    />
</head>
<body>
    <header>
        <div class="logo">POUPE<span>.</span>AI</div>
        <nav>
            <a href="./#quem-somos">Quem somos</a>
            <a href="./#visao-geral">Visão geral</a>
            <a href="./#recursos">Recursos</a>
        </nav>
        <a href="{% url 'sign-in' %}" class="cta-button">Entrar na minha conta</a>
    </header>

    
    <section class="main" >
        <h1>Organize seu <span>dinheiro</span>, conquiste seus <span>sonhos</span>.</h1>
        
        <img src="{% static 'imgs/teste.svg' %}" alt="">
    </section>


    <section id ="quem-somos" class ="main">
        <div class="text">
        Lclass ="lorem"orem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
        </div>
        <img class="dev" src="{% static 'imgs/xande.jpeg' %}" alt="">
        <img class="dev1" src="{% static 'imgs/eudi.jpeg' %}" alt="">
        <img class="dev2" src="{% static 'imgs/paulino.jpg' %}" alt="">
    </section> 

    <section id ="visao-geral" class ="main">
        <div class="text">
        Lclass ="lorem"orem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
        </div>
        <img class="poster" src="{% static 'imgs/img5.png'%}" alt="">
    </section> 

    <section id ="recursos" class ="main">
        <div class="text">
        Lclass ="lorem"orem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
        </div>

        <img class="poster" src="{% static 'imgs/img6.png'%}" alt="">
        <img class="poster-2" src="{% static 'imgs/img7.png'%}" alt="">
    </section> 
    
   
    <footer>
        <p>&copy; 2024 Poupe.AI. Todos os direitos reservados.</p>
    </footer>
</body>
</html>