{% extends "auth_base.html" %}
{% load static %}

{% block title %}Login - Poupe.AI{% endblock title %}

{% block card %}
    <div class="card-body p-4">
        <div class="card-title text-center">
            <img src="{% static 'imgs/logo-light.svg' %}" alt="Poupe.AI" class="img-fluid" style="max-width: 200px;">
            <p class="text-muted fw-light mt-3 mx-2 lh-sm">Esqueceu sua senha? Informe o seu email cadastrado que enviaremos instruções para recuperar seu acesso.</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="m-0" for="email">Email cadastrado</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="exemplo@email.com" required>
            </div>

            
            <div class="w-100 px-3 mt-4">
                <button type="button" data-bs-toggle="modal" data-bs-target="#confirmModal" class="btn btn-primary w-100">Enviar</button>
            <div>
        </form>

        <div class="w-100 my-3">
            <a href="{% url "sign-in" %}" class="btn btn-secondary w-100">Voltar</a>
        <div>
    </div>
{% endblock card %}

{% block body %}
<!-- Modal -->
<div class="modal fade" id="confirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h1 class="modal-title fs-5" id="confirmModalLabel">Confirmação de Envio</h1>
        </div>
        <div class="modal-body text-center">
          Enviamos um email para <strong>exemplo@email.com</strong> com instruções para recuperação de senha. Verifique sua caixa de entrada e siga as instruções.
        
          <a href='{% url "sign-in" %}' class="btn btn-primary mt-3">Voltar à página de login</a>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock body %}