{% extends "auth_base.html" %}
{% load static %}

{% block title %}Cadastro - Poupe.AI{% endblock title %}

{% block card %}
    <div class="card-body p-4">
        <div class="card-title text-center">
            <img src="{% static 'imgs/logo-light.svg' %}" alt="Poupe.AI" class="img-fluid" style="max-width: 200px;">
            <p class="text-muted fw-light mt-3 mx-2 lh-sm">Crie sua conta agora e comece a ter controle sobre suas finanças.</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="m-0" for="name">Nome</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="José Silva" required>
            </div>
            <div class="form-group">
                <label class="m-0" for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="exemplo@email.com" required>
            </div>
            <div class="form-group">
                <label class="m-0" for="password">Senha</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="●●●●●●●●" required>
            </div>

            <div class="form-group">
                <label class="m-0" for="confirm-password">Confirmar sua senha</label>
                <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="●●●●●●●●" required>
            </div>
            
            <div class="w-100 px-3 mt-4">
                <button type="submit" class="btn btn-primary w-100">Confirmar</button>
            <div>
        </form>

        <a href="{% url "sign-in" %}" class="btn btn-link w-100 link-dark mt-2">Já tem uma conta? Clique aqui!</a>
    </div>
{% endblock card %}