{% extends "auth_base.html" %}
{% load static %}

{% block title %}Recuperar Senha - Poupe.AI{% endblock title %}

{% block card %}
    <div class="card-body p-4">
        <div class="card-title text-center">
            <img src="{% static 'imgs/logo-light.svg' %}" alt="Poupe.AI" class="img-fluid" style="max-width: 200px;">
            <p class="text-muted fw-light mt-3 mx-2 lh-sm">Crie sua nova senha</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="m-0" for="password">Nova senha</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="●●●●●●●●" required>
            </div>

            <div class="form-group">
              <label class="m-0" for="password2">Confirmar nova senha</label>
              <input type="password" class="form-control" id="password2" name="password2" placeholder="●●●●●●●●" required>
          </div>
            
            <div class="w-100 px-3 mt-4">
                <button type="submit" class="btn btn-primary w-100">Confirmar Alteração</button>
            <div>
        </form>

        <div class="w-100 my-3">
            <a href="{% url "sign-in" %}" class="btn btn-secondary w-100">Cancelar</a>
        <div>
    </div>
{% endblock card %}